cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.3.0
cloudinary==1.36.0
contourpy==1.1.1
cycler==0.12.1
DateTime==5.2
fonttools==4.43.1
google-api-core==2.12.0
google-api-python-client==2.104.0
google-auth==2.23.3
google-auth-httplib2==0.1.1
googleapis-common-protos==1.61.0
httplib2==0.22.0
idna==3.4
kiwisolver==1.4.5
matplotlib==3.8.0
networkx==3.1
numpy==1.26.1
packaging==23.2
pandas==2.1.1
Pillow==10.1.0
protobuf==4.24.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-louvain==0.16
pytz==2023.3.post1
requests==2.31.0
rsa==4.9
scipy==1.11.3
seaborn==0.13.0
six==1.16.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.7
uuid==1.30
zope.interface==6.1
